.Home {
  height: 100%;
}

.Home > .container {
  padding: 0 10%;
}


.Home .searchbar-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 30vh;
}

.searchbar {

  padding: 8px 16px;

  border: none;
  outline: none;

  border-radius: 60px;

  font-weight: 500;

  width: 80%;
  max-width: 350px;
}

.searchbar:focus {
  border: none;
}

.create-button {
  position: absolute;
  bottom: 25px;
  top: auto;
  left: auto;
  right: 25px;
}